<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <script
      src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"
    ></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link
      href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <table id="cart" class="table table-hover table-condensed">
        <thead>
          <tr>
            <th style="width:50%">Product</th>
            <th style="width:10%">Price</th>
            <th style="width:8%">CountInStock</th>
            <th style="width:22%" class="text-center">Subtotal</th>
            <th style="width:10%"></th>
          </tr>
        </thead>
        {{#each products}}
          <tbody>
            <tr>
              <td data-th="Product">
                <div class="row">
                  <div class="col-sm-2 hidden-xs"><img
                      src="{{this.image}}"
                      alt="..."
                      class="img-responsive"
                    /></div>
                  <div class="col-sm-10">
                    <h4 class="nomargin">{{this.product_name}}</h4>
                    <p>{{this.description}}</p>
                  </div>
                </div>
              </td>
              <td data-th="Price">{{this.price}}</td>
              <td data-th="Quantity">
                <input
                  type="number"
                  class="form-control text-center"
                  value={{this.countInStock}}
                  disabled
                />
              </td>
              <td data-th="Subtotal" class="text-center">1.99</td>
              <td class="actions" data-th="">
                <button class="btn btn-info btn-sm mb-3"><a
                    href="/index/add/cart/{{this._id}}"
                    style="color:white; margin-bottom:300px;"
                    class="text-white"
                  >Add Cart</a></button>
                <button class="btn btn-danger btn-sm"><a
                    href=""
                    style="color:white;"
                    class="text-white"
                  >View Details</a></button>
              </td>
            </tr>
          </tbody>
        {{/each}}
        <tfoot>
          <tr class="visible-xs">
            <td class="text-center"><strong>Total 1.99</strong></td>
          </tr>
          <tr>
            <td><a href="#" class="btn btn-warning"><i
                  class="fa fa-angle-left"
                ></i>
                Continue Shopping</a></td>
            <td colspan="2" class="hidden-xs"></td>
            <td class="hidden-xs text-center"><strong>Total $1.99</strong></td>
            <td><a href="#" class="btn btn-success btn-block">Checkout
                <i class="fa fa-angle-right"></i></a></td>
          </tr>
        </tfoot>
      </table>
    </div>
  </body>
</html>